.flex-container {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-item {
  width: 150px;
  height: 150px;
  overflow: auto;
  border: 1px solid black;
  margin: 1px;
}
